body {
  background-color: #fff;
  font-family: cursive;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recent {
  display: flex;
  justify-content: space-around;
  font-family: cursive;
  width: 100%;
}
 .titleII {
   font-size: 15px;
   margin-top: 25px;
 }

.refresh-data {
  padding: 20px;
}

#btnRefresher {
  padding: 5px;
  cursor: pointer;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}

.dataList {
  padding: 10px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 15px;
  list-style-type: none;
  width: 200px;
}

#data {
  border: 2px solid #333;
  width: 225px;
}

.dataElement {
  padding: 10px;
  font-family: cursive;
  font-size: 15px;

  &:nth-last-of-type(odd){
    background-color: #efefef;
  }
}

.dataOutput {
  padding: 30px;
}

#inputKey,
#inputValue {
  padding: 10px;
  margin-bottom: 15px;
}

#btnSubmit {
  padding: 5px;
  cursor: pointer;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}
