body {
  font-family: cursive;
  background-color: #fff;
  .title-header {
    margin-right: auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .dataList {
       list-style-type: none;
       padding: 10px;
       font-family: sans-serif;
      .recent {
        display: flex;
        justify-content: space-evenly;
        .refresh-data {
          padding: 20px;
          #btnRefresher {
            padding: 5px;
            cursor: pointer;
            box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
          }
        }
      }
      .itemData {
        padding: 10px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 15px;
      }
      .itemData {
        list-style-type: none;
        width: 200px;
        &:nth-last-of-type(odd) {
          background-color: #efefef;
        }
      }
      #data {
        border: 2px solid #333;
      }

      .dataOutput {
        padding: 30px;
      }
    }
    .userInput {
      #inputKey,
      #inputValue {
        padding: 10px;
        margin-bottom: 15px;
      }
      #btnSubmit {
        padding: 5px;
        cursor: pointer;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
